*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    height: 10vh;
    width: 100%;
}
 
.headerContainer ul,
.headerContainer a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: black;
}

.headerContainer a:hover{
    text-decoration: underline;
    text-underline-offset: .5rem;
    color: rgb(28, 170, 17);
}

.headerContainer h2{
    font-size: 1.2rem;
    pointer-events: none;
}

.container{
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}

.hero{
    width: 40%;
    background-color: aqua;
    height: 100%;
}

.applications{
    width: 60%;
    height: 100%;
    background-color: red; 
}

