*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient( rgba(0, 0, 0, 0.9) ,rgba(0, 0, 0, 0.9)), url(Manager-Menu-Page-Images/heroback.jpg);
}

.nav-bar{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    z-index: 4;
    border-bottom: 1px solid #333;
    transition: .4s;
    
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    list-style-type: none;
    gap: 10rem;
}

nav a{
    text-decoration: none;
    color: #006341;
    font-size: 1.25em;
}
nav ion-icon{
    display: none;
    font-size: 2rem;
}
.logo{
    font-size: 1.25em;
    color: #006341;
}
.side-bar{
    z-index: 4;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 150px;
    margin: auto;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}
.side-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.exit-sidebar{
    /* position: absolute; */
    top: 20px;
    left: 15px;
    font-size: 25px;
    color: #006341;
    cursor: pointer;
}
.exit-sidebar:hover{
    color: #ce1126;
}

.ham-menu{
    font-size: 2rem;
    color: #006341;
    cursor: pointer;
}

.container{
    position: relative;
    padding: 25px;
    width: min-content;
    height: max-content;
    padding-bottom: 70px;
    left: 40%;
    transform: translate(-40%, 3.3%);
    
}
.container h3{
    text-align: center;
}

.container form{
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container form .row .col .inputs{
    margin:15px 0;
}
.container form .row .col .inputs span{
    margin-bottom: 10px;
    display: block;
}
.container form .row .col .inputs input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.container form .row .col .inputs input:focus{
    border-color: #006341;
}

.container2{
    position: relative;
    left: 40%;
    transform: translate(-40%, 4.6%);
    padding: 25px;
    width: min-content;
    padding-bottom: 50px;
}
.container2 h3{
    text-align: center;
}

.container2 form{
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container2 form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container2 form .row .col .inputs{
    margin:10px 0;
}
.container2 form .row .col .inputs span{
    margin-bottom: 10px;
    display: block;
}
.container2 form .row .col .inputs input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.container2 form .row .col .inputs input:focus{
    border-color: #006341;
}

.containerActive{
    display: block;
}
.containerHidden{
    display: none;
}

.submitBtn{
    padding: 10px 15px;
    background: #333;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    border: 1px solid black;
    margin-left: 35%;
}

.submitBtn:hover{
    background: white;
    color: black;
}

span {
    text-transform: capitalize;
}

.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cartItemName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.cartItemImg img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

input[type=number]{
    width: 50px;
    text-align: center;
}


.cashBtn{
    margin-right: 1rem;
    padding: .5rem;
    cursor: pointer;
    background: #fff;
    color: #333;
    border: 1px solid black;
}
.creditBtn{
    margin-left: 1rem;
    padding: .5rem;
    cursor: pointer;
    background: #fff;
    color: #333;
    border: 1px solid black;
}

.paymentOptionSelected{
    background: #333;
    color: #fff;
}

#submitBtn2{
    margin-top:10%;
    padding: 10px 15px;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px;
    border: 1px solid black;
    margin-left: 35%;
    color: white;
    border: 1px solid black;
    width: max-content;
}
select{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

#submitBtn2:hover{
    background: white;
    color: #333;
}
#shippingMethod{
    margin-top: 5px;
    margin-left: 0%;
    border: 1px solid #ccc;
}


.customerCart{
    position: absolute;
    top: 15%;
    right: 2.5%;
    display: flex;
    flex-direction: column;
    width: 25vw;
    background: #fff;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    height: 80vh;
}

.cartTitle{
    padding: 10px;
    background: #333;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.cartItems{
    padding: 10px;
    height: 70vh;
    overflow-y: scroll;
}

.deleteFromCartBtn{
    padding: 5px 10px;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #333;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.deleteFromCartBtn:hover{
    background: #fff;
    color: red;
}

.cartTotal{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    flex-direction: column;
}



/* footer */

footer{
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.5);
    font-size: 1.25em;
    color: #006341;
    border-top: 1px solid #333;
}

.log-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 50px;
    transition: 1s;
}

.go-to-profile{
    height: fit-content;
    text-align: center;
    color: #ce1126;
    padding: 0 10px;
    transition: .5s;
    cursor: pointer;
}
.go-to-login:hover,.go-to-profile:hover{
    color: #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.footer-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.footer-info{
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-info p{
    font-size: 65%;
    margin-right: 20px;
}
.footer-info ion-icon{
    margin-right: 2px;
}
.footer-socials{
    width: 20%;
    text-align: center;
    display: flex;
    
}
.footer-socials ion-icon{
    color: #fff;
    margin-right: 5px;
}
#fb:hover{
    color: #1877F2;
    transition: color .4s;
}
#twitter:hover{
    color: #1DA1F2;
    transition: color .4s;
}
#google:hover{
    color: #DB4437;
    transition: color .4s;
}
#ig:hover{
    color: #C13584;
    transition: color .4s;
}







/* media queries */
@media (max-width:1000px) {
    nav ul.nav-links{
        display: none;
    }
    
    nav ion-icon{
        display: block;
    }
    nav.sticky{
        background-color: #fff;
        color: #ce1126;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: black 0 0 5px;
        z-index: 4;
    }
}

.form{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    height: fit-content;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    background-color: #fff;
    transition: 1s;
    z-index: 100;
}

.profile-form{
    transform: scale(0);
}

.users-name{
    color: #ce1126;
    text-shadow: 3px 3px black;
    margin-bottom: 5px;
    align-self: center;
}

.users-email{
    text-align: center;
    color: #006341;
    text-shadow: 1px 1px black;
    margin-bottom: 20px;
}

.users-points{
    color: #ce1126;
    text-shadow: 1px 1px black;
    margin-bottom: 20px;
    align-self: center;
}

.btn{
    width: 200px;
    font-size: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right,#ce1126,#006341);
    transition: .7s;
    align-self: center;
}

.logo{
    background-image: url(receipt_images/bandidos_name_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 45px;
    width: 7%;
}

/* media queries */
@media screen and (max-width: 1200px){
   .container{
       transform: translate(0,0);
       left: 0;
   }
   .container form{
        width: 150%;
   }
   .container2{
        transform: translate(0,0);
        left: 0;
    }
    .container2 form{
     width: 150%;
    }
   .customerCart{
        top: 15%;
        right: 0%;
        width: 35%;
   }
   .cartItemName{
        font-size: .8rem;
   }
}
    
@media screen and (max-width: 900px){
    .container form{
         width: 135%;
    }
     .container2 form{
      width: 135%;
     }
    .customerCart{
         top: 15%;
         right: 0%;
         width: 30%;
    }
    .cartItem{
        flex-direction: column;
        text-align: center;
    }
    .submitBtn{
        margin-left: 20%
    }
    #submitBtn2{
        margin-left: 15%
    }
}

@media screen and (max-width: 600px){
    .container{
        left: -5%;
    }
     .container form{
      width: 100%;
     }
     .container2{
        left: -5%;
     }
    .container2 form{
        width: 100%;
    }
    .customerCart{
        top: 15%;
        right: .5%;
        width: 47.5%;
        height: 100%;
    }
    #submitBtn2{
        margin-left: 1%
    }
    /* make placeholder font smaller */
    input::-webkit-input-placeholder{
        font-size: 75%;
    }
}

@media screen and (max-width: 500px) {
    .container form{
        width: 75%;
    }
    .container2 form{
        width: 75%;
    }
    .container img{
        width: 100%;
    }
    .customerCart{
        top: 9%;
        right: -3%;
        width: 50%;
    }
}
