*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body{
    background-image: url("/checkout-payment-images/hollowed-boxes.svg");
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    height: 10vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.headerContainer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.container{
    position: relative;
    padding: 25px;
    width: min-content;
    height: max-content;
    padding-bottom: 70px;
    left: 40%;
    transform: translate(-40%, 3.3%);
    
}
.container h3{
    text-align: center;
}

.container form{
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container form .row .col .inputs{
    margin:15px 0;
}
.container form .row .col .inputs span{
    margin-bottom: 10px;
    display: block;
}
.container form .row .col .inputs input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.container form .row .col .inputs input:focus{
    border-color: #333;
}

.container2{
    position: relative;
    left: 40%;
    transform: translate(-40%, 5.5%);
    padding: 25px;
    width: min-content;
    padding-bottom: 50px;
}
.container2 h3{
    text-align: center;
}

.container2 form{
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container2 form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container2 form .row .col .inputs{
    margin:10px 0;
}
.container2 form .row .col .inputs span{
    margin-bottom: 10px;
    display: block;
}
.container2 form .row .col .inputs input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.container2 form .row .col .inputs input:focus{
    border-color: #333;
}

.containerActive{
    display: block;
}
.containerHidden{
    display: none;
}

.submitBtn{
    padding: 10px 15px;
    background: #333;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    border: 1px solid black;
    margin-left: 35%;
}

.submitBtn:hover{
    background: white;
    color: black;
}

span {
    text-transform: capitalize;
}

.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cartItemName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.cartItemImg img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

input[type=number]{
    width: 50px;
    text-align: center;
}


.cashBtn{
    margin-right: 1rem;
    padding: .5rem;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: 1px solid black;
}
.creditBtn{
    margin-left: 1rem;
    padding: .5rem;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: 1px solid black;
}

.cashBtn:hover, 
.creditBtn:hover{
    background: #fff;
    color: #333;
}
.cashSelected{
    opacity: 0.2;
}

#submitBtn2{
    margin-top:10%;
    padding: 10px 15px;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px;
    border: 1px solid black;
    margin-left: 35%;
    color: white;
    border: 1px solid black;
    width: max-content;
}
select{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

#submitBtn2:hover{
    background: white;
    color: #333;
}
#shippingMethod{
    margin-top: 5px;
    margin-left: 0%;
    border: 1px solid #ccc;
}


.customerCart{
    position: absolute;
    top: 17.35%;
    right: 10%;
    display: flex;
    flex-direction: column;
    width: 25vw;
    background: #fff;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    height: 80vh;
}

.cartTitle{
    padding: 10px;
    background: #333;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.cartItems{
    padding: 10px;
    height: 70vh;
    overflow-y: scroll;
}

.deleteFromCartBtn{
    padding: 5px 10px;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #333;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.deleteFromCartBtn:hover{
    background: #fff;
    color: red;
}

.cartTotal{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    gap: 2rem;
}



/* come back when decided on universal header/footer for all pages and change */
.footer{
    height: 5%;
    width: 100%;
    padding: 20px;
    background-color: white;
}
.footerContent{
    display: flex;
}

.footerContentLeft, 
.footerContentRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: #333;
}


/* media queries */
@media screen and (max-width: 900px){
    .container{
        width: 50%;
        padding: 0;
    }
    .container form{
        width: 100%;
    }
    .container2{
        width: 50%;
        padding: 0;
    }
    .container2 form{
        width: 100%;
    }
    .customerCart{
        position: absolute;
        top: 17.35%;
        right: 2%;
        display: flex;
        flex-direction: column;
        width: 30%;
        background: #fff;
        box-shadow: 10px 5px 10px rgba(0,0,0,0.1);
        border: 1px solid #ccc;
        height: 80vh;
    }
}