*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient( rgba(0, 0, 0, 0.9) ,rgba(0, 0, 0, 0.9)), url(Manager-Menu-Page-Images/heroback.jpg);
}
.logo{
    background-image: url(receipt_images/bandidos_name_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 2.5rem;
    width: 10%;
}

.nav-bar{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    z-index: 4;
    border-bottom: 1px solid #d3d3d3;
    transition: .4s;
    
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
    /* gap: 1.2rem; */
}

nav a{
    text-decoration: none;
    color: #006341;
    font-size: 1.25em;
}
nav ion-icon{
    display: none;
    font-size: 2rem;
}
.logo{
    font-size: 1.25em;
    color: #006341;
}
.ham-menu{
    color: #006341;
    cursor: pointer;
}

.side-bar{
    z-index: 4;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 150px;
    margin: auto;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}
.side-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.exit-sidebar{
    /* position: absolute; */
    top: 20px;
    left: 15px;
    font-size: 25px;
    color: #006341;
    cursor: pointer;
}
.exit-sidebar:hover{
    color: #ce1126;
}
   

/* start of add edit forms */
.addNewItemForm{
    position: relative;
    align-items: center;
    background-color: white;
    height: 50vh;
    width: 90%;
    font-size: 1.4rem;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    padding: 2rem 2rem;
    text-align: center;
    opacity: .9;
    transition: .7s;
}
.addNewItemForm:hover,
.editItemForm:hover{
    opacity: 1;
}

.addItemFormContainer,
.editItemFormContainer{
    position: absolute;
    top: 35%;
    width: 35%;
    z-index: 20;
}

.addFormCloseBtn{
    position: absolute;
    left: 85%;
    top: 5%;
    font-size: 3rem;
    cursor: pointer;
    transition: .7s;
}
.addFormCloseBtn:hover,
.editFormCloseBtn:hover{
    color: #006341;
    font-size: 3.1rem;
    transition: .7s;
}


.editItemForm{
    align-items: center;
    background-color: white;
    height: 50vh;
    width: 90%;
    font-size: 1.4rem;
    border: 2px solid black;
    box-shadow: 0 0 10px black;    
    padding: 2rem 2rem;
    text-align: center;
    gap: 1rem;
    opacity: .9;
}

.editItemForm > div{
    display: flex;
    justify-content: space-evenly;
}

.editFormCloseBtn{
    left: 75%;
    top: 5%;
    position: absolute;
    font-size: 3rem;
    cursor: pointer;
    transition: .7s;
}

form{
    border-radius: 10px;
}

/* end of add edit delete forms */

.formHeader{
    align-self: center;
    margin-bottom: 20px;
    transition: .7s;
    color: #006341;
}
.formHeader:hover{
    background-image: -webkit-linear-gradient(#006341, #c70f0f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .7s;
    cursor: pointer;
}
.heroHeader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -35%,-50%);
    font-size: 4rem;   
    width: 100%;
    pointer-events: none;
    /* color: #006341; */
}



.formHidden{
    display: none;
}
.formActive{
    display: block;
}

.formBtn{
    width: 10rem;
    padding: 10px 20px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right,rgb(28,170,17),rgb(158, 14, 14));
    transition: .7s;
    cursor: pointer;
    margin-top: .3rem;
    height: 3rem;
}

button:hover{
    box-shadow: 0 0 10px #006341;
}

.formBtn:hover{
    color: #006341;
    background-image: none;
    border: 1px solid black;
    transition: .7s;
}

.formBtnContainer{
    width: 100%;
    display: flex;
    margin-top: .5rem;
    padding: 1rem;
    justify-content: space-evenly;
}


input[type="text"]{
    border: none;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 5px;
    outline: none;
    padding-bottom: 10px;
    text-indent: .7rem;
    font-size: 100%;
}

input[type="text"]:focus{
    border-bottom: 1px solid #006341;
}


.formsHidden{
    display: none;
}

.formsActive{
    display: block;
}

.success{
    position: absolute;
    top: 15%;
    right: 10%;
    background-color: transparent;
    padding: .7rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #006341;
    text-align: center;
    font-size: .5em;
    color: #006341;
    z-index: 20;
    width: 20%;
    height: 15%;
}

.addedItemSuccess{
    display: none;
}

/* end form */

/* start of menu items gallery */
.menuItems{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-align: center;
    width: 100%;
    padding:  0rem 3rem;
    margin-top: 1rem;
}

.itemId{
    position: absolute;
    right: 0%;
    bottom: 21.5%;
}


.itemName{
    font-size: 1.4rem;
    font-weight: 600;
}

.itemName:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: white;
}

.itemDescription{
    font-size: .8rem;
    border-bottom: 1px solid white;
}


.menuItems h2{
    color: white;
}

.menuItem{
    position: relative;
    color: white;
}

.menuItem img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.menuHeader{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
    /* flex-direction: column; */
}

.menuHeader > button {
    justify-content: center;
    background-color: #006341;
    background-image: linear-gradient(to right,#006341,#c70f0f);
    border: none;
    padding: .8rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .7s;
    border: 1px solid #006341;
    border-radius: 15px;

}
.menuHeader > button:hover{
    background-color: transparent;
    background-image: none;
    color: #006341;
    transition: .7s;
    font-size: 1.2rem;
}



.deleteFromMenuBtn{
    position: absolute;
    right: 2%;
    top: 0%;
    font-size: 2.25em;
    cursor: pointer;
    padding: .5rem;
    transition: .7s;
    border: .2px solid transparent;
    color: #333;
}

.deleteFromMenuBtn:hover{
    font-size: 2.5em;
    color: red;
    transition: .7s;
}


/* end of menu items gallery */

/* start of footer */
footer{
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.5);
    font-size: 1.25em;
    color: #006341;
}

.log-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 50px;
    transition: 1s;
}

.go-to-profile{
    height: fit-content;
    text-align: center;
    color: #ce1126;
    padding: 0 10px;
    transition: .5s;
}
.go-to-profile:hover{
    color: #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.footer-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.footer-info{
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-info p{
    font-size: 65%;
    margin-right: 20px;
}
.footer-info ion-icon{
    margin-right: 2px;
}
.footer-socials{
    width: 20%;
    text-align: center;
    display: flex;
    
}
.footer-socials ion-icon{
    color: #fff;
    margin-right: 5px;
}
#fb:hover{
    color: #1877F2;
    transition: color .4s;
}
#twitter:hover{
    color: #1DA1F2;
    transition: color .4s;
}
#google:hover{
    color: #DB4437;
    transition: color .4s;
}
#ig:hover{
    color: #C13584;
    transition: color .4s;
}

.form1{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    height: fit-content;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    background-color: #fff;
    transition: 1s;
    z-index: 100;
}

.profile-form{
    transform: scale(0);
}

.users-name{
    color: #ce1126;
    text-shadow: 3px 3px black;
    margin-bottom: 5px;
    align-self: center;
}

.users-email{
    text-align: center;
    color: #006341;
    text-shadow: 1px 1px black;
    margin-bottom: 20px;
}

.users-points{
    color: #ce1126;
    text-shadow: 1px 1px black;
    margin-bottom: 20px;
    align-self: center;
}

.btn{
    width: 200px;
    font-size: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right,#ce1126,#006341);
    transition: .7s;
    align-self: center;
}


/* media queries come back and finish once rest of css is done */
@media screen and (max-width: 1200px){
    .menuItems{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .menuItems{
        grid-template-columns: repeat(2, 1fr);
    }
    .headerContainer{
        display: none;
    }
    nav ul.nav-links{
        display: none;
    }
    
    nav ion-icon{
        display: block;
    }
    nav.sticky{
        background-color: #fff;
        color: #ce1126;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: black 0 0 5px;
        z-index: 4;
    }
   
}


@media screen and (max-width: 600px){
    .menuItems{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        font-size: 1em;
    }
}

@media screen and (max-width: 400px){
    .menuItems{
        grid-template-columns: repeat(1, 1fr);
    }
}

  

/* end of media queries */

