/* ------------------------------- Global -------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7)), url(Manager-Menu-Page-Images/heroback.jpg);
    /* background-repeat: no-repeat; */
    background-size: auto;
    /* background-position: center; */
}

/* ------------------------------- Receipt Form -------------------------------*/
.receiptMessage {
    width: 400px;
    height: auto;
    background-color: white;
    margin: 15px auto;
    text-align: center;
    font-size: 20px;
    padding: 1rem;

    background-image: url(bandidos_images/menu_background2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.receiptForm {
    width: 400px;
    height: auto;
    background-color: white;
    margin: 15px auto;
    text-align: center;
    font-size: 16px;
    margin-bottom: 100px;
}

.receiptTitle {
    padding-top: 2rem;
}

#receiptItemsContainer {
    padding: 2rem;
    color: gray;
}

.receiptItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted;
    padding: 1rem 0;
}

.receiptItemInfo {
    text-align: left;
}

.receiptItemCost {
    float: right;
}

.receiptForm img {
    margin-top: 2rem;
    width: 25%;
    border-radius: 5px;
}

.receiptDetailsContainer {
    background-color: rgb(240, 240, 240);
    margin-top: 2rem;
    padding: 1rem 2rem;
}

.receiptDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

/* ------------------------------- Nav / Sidebar -------------------------------*/
.nav-bar{
    width: 100%;
    color: #fff;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: absolute; */
    background-color: #ce1126;
    z-index: 4;
    border-bottom: 1px solid #d3d3d3;
    transition: .4s;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style-type: none;
}

.sticky{
    background-color: #fff;
    color: #ce1126;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: black 0 0 5px;
    z-index: 4;
}

nav a{
    text-decoration: none;
}

nav ion-icon{
    display: none;
    /* transform: rotate(90deg); */
}

/* ------------------------------- Sidebar -------------------------------*/
.side-bar{
    z-index: 4;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 150px;
    margin: auto;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}

.side-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.exit-sidebar{
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 25px;
    color: #006341;
    cursor: pointer;
}

.exit-sidebar:hover{
    color: #ce1126;
}

/* ------------------------------- Profile -------------------------------*/
.form{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    height: fit-content;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    background-color: #fff;
    transition: 1s;
    z-index: 100;
}

.profile-form{
    transform: scale(0);
}

.users-name{
    color: #ce1126;
    text-shadow: 3px 3px black;
    margin-bottom: 5px;
    align-self: center;
}

.users-email{
    text-align: center;
    color: #006341;
    text-shadow: 1px 1px black;
    margin-bottom: 20px;
}

.users-points{
    color: #ce1126;
    text-shadow: 1px 1px black;
    margin-bottom: 20px;
    align-self: center;
}

/* ------------------------------- Footer -------------------------------*/
footer{
    box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.5);
    background-color: #006341;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* box-shadow: black 0 0 5px; */
    z-index: 4;
}

.log-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 50px;
    transition: 1s;
}

.go-to-login{
    height: fit-content;
    text-align: center;
    color: #ce1126;
    padding: 0 10px;
    /* border-right: 1px solid #fff;
    border-left: 1px solid #fff; */
    transition: .5s;
}

.go-to-profile{
    height: fit-content;
    text-align: center;
    color: #ce1126;
    padding: 0 10px;
    /* border-right: 1px solid #fff;
    border-left: 1px solid #fff; */
    transition: .5s;
}

.go-to-login:hover,.go-to-profile:hover{
    color: #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.footer-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.footer-info{
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-info p{
    font-size: 65%;
    margin-right: 20px;
}

.footer-info ion-icon{
    margin-right: 2px;
}

.footer-socials{
    width: 20%;
    text-align: center;
    display: flex;
    
}

.footer-socials ion-icon{
    color: #fff;
    margin-right: 5px;
}

#fb:hover{
    color: #1877F2;
    transition: color .4s;
}

#twitter:hover{
    color: #1DA1F2;
    transition: color .4s;
}

#google:hover{
    color: #DB4437;
    transition: color .4s;
}

#ig:hover{
    color: #C13584;
    transition: color .4s;
}

/* ------------------------------- Smaller Screens -------------------------------*/
@media (max-width:1000px) {
    nav ul.nav-links{
        display: none;
    }
    
    nav ion-icon{
        display: block;
    }
    nav{
        background-color: #fff;
        color: #ce1126;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: black 0 0 5px;
        z-index: 4;
    }
}

@media (max-width:800px) {
   
}

@media (max-width:650px) {
    a.go-to-profile{
        font-size: 60%;
        padding: 0;
    }
    div.footer-info p{
        font-size: 40%;
        margin-right: 5px;
        width: fit-content;
    }
    div.footer-socials ion-icon{
        font-size: 15px;
    }
}

@media (max-width:450px) {
    footer{
        font-size: 90%;
    }
}