*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}
html{
    font-size: 20px;
    position: relative;
    /* background-color: black; */
}
section{
    width: 100%;
    height: 100vh;
    padding: 50px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.btn{
    width: 200px;
    font-size: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right,#ce1126,#006341);
    transition: .7s;
    align-self: center;
}
.btn:hover{
    cursor: pointer;
    color: #ce1126;
    background: transparent;  
}
h1{
    width: fit-content;
}

/* NAV */
.nav-bar{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: transparent;
    z-index: 4;
    border-bottom: 1px solid #d3d3d3;
    transition: .4s;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
}
.go-to-login{
    color: #ce1126;
}
.sticky{
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: black 0 0 5px;
    z-index: 4;
}
nav a{
    text-decoration: none;
}

/* SLICK SLIDER */
.hero{
    position: relative;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7)), url(Manager-Menu-Page-Images/heroback.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider{
    width: 80%;
    display: flex;
}
.slick-slide{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    color: #fff;
    text-align: center;
}

.next{
    font-size: 36px;
    color: #ce1126;
    opacity: .5;
    border: 2px solid #ce1126;
    border-radius: 50%;
    margin-right: 10px;
    
}
.prev{
    font-size: 36px;
    color: #ce1126;
    opacity: .5;
    border: 2px solid #ce1126;
    border-radius: 50%;
    margin-left: 10px;

}
.next:hover{
    color: #006341;
    border: none;
}
.prev:hover{
    color: #006341;
    border: none;
}
.container{
    display: flex;
    height: 300px;
}
.card{
    width: 50%;
    height: 200px;
    margin: 0 2.5%;
    /* background-color: red; */
}
#title{
    /* margin-top: 1150px; */
    font-size: 500%;
    margin-left: -20px;
    font-family: 'smokum', cursive;
    background:linear-gradient(to right,#006341,#ce1126);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-1 p{
    margin-left: -20px;
}
.card-2{
    background-image: url(Manager-Menu-Page-Images/slideback-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.card-2 h5, .card-2 p{
    text-shadow: 2px 2px black;
}
.card-3{
    background-image: url(Manager-Menu-Page-Images/coin1.gif);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.card-3 p{
    font-size: 150%;
    margin: 0px 20px;
    text-shadow: 2px 2px black;
}
.card-4{
    background-image: url(Manager-Menu-Page-Images/firetaco.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card-4 p{
    font-size: 150%;
    margin: 0px 20px;
    text-shadow: 2px 2px black;
}

.slide-flex{
    margin: 20px auto;
}
.slide-head{
    color: #ce1126;
    font-size: 200%;
    text-shadow: 2px 2px black;
}
.slide-deal{
    font-size: 200%;
    text-shadow: 2px 2px black;
}
.slide-sub{
    font-size: 200%;
    color: #006341;
    text-shadow: 2px 2px black;
}
.slide-btn{
    margin-bottom: 20px;
}


/* ABOUT */

.about-section{
    /* margin-top: 50px; */
    padding: 50px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7)), url(Manager-Menu-Page-Images/about-us-back1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #006341;
}
.header{
    text-align: center;
    margin: 0 auto;
}
.about{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.about-text{
    background-color: #fff;
    width: 40%;
    border: 1px solid black;
    box-shadow:  -5px 5px, rgba(0 ,99 ,65, 0.3) -10px 10px, rgba(0 ,99 ,65,  0.2) -15px 15px, rgba(0 ,99 ,65,  0.1) -20px 20px, rgba(0 ,99 ,65,  0.05) -25px 25px;
    text-shadow: 1px 1px black;
    padding: 10px;

}
.about-text p{
    font-size: 75%;
}
.about img{
    width: 40%;
}
/* LOCATIONS */
.locations-section{
    /* margin-top: 50px; */
    padding: 50px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7)), url(Manager-Menu-Page-Images/our-locations-back.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #006341;
}
.location-about{
    flex-direction: row-reverse;
}

/* CONTACT US*/

.contact-form-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.contact-form{
    display: flex;
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    box-shadow: 0 0 10px black;
    flex-direction: column;
}
.contact-form-div{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}
.contact-form-input{
    border: none;
    /* width: 50%; */
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    font-size: 100%;
}
.submitBtn{
    width: 50%;
    font-size: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right,#ce1126,#006341);
    transition: .7s;
    align-self: center;
    margin-top: 10px;
}
.submitBtn:hover{
    cursor: pointer;
    color: #ce1126;
    background: transparent;
}
.our-info{
    border: 1px solid black;
    /* width: 50%; */
    height: fit-content;
    padding: 20px;
    box-shadow: 0 0 10px black
}

/* SIGNUP */
.title{
    align-self: center;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
}
.sup-mess{
    font-size: 75%;
    text-align: center;
    display: none;
}
.sup-good{
    color: green;
}
.sup-bad{
    color: red;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    background-color: white;
    z-index: 3;
}
.next-to{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.group{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form-input{
    border: none;
    width: 50%;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    font-size: 100%;

}
.form-input:not(.sup-name,.sup-submit){
    margin-right: 10px;
}
.form-input::placeholder{
    color: #d3d3d3;
}
.form-input:focus{
    outline: none;
}
.sup-confirm{
    height: fit-content;
}
.sup-name{
    width: 50%;
    margin: 20px auto;
    text-transform: capitalize;
}
.back-btn{
    color: #006341;
    font-size: 150%;
    border: none;
    transition: .4s;
    cursor: pointer;
}
.back-btn:hover{
    color: #ce1126;
}
.submit{
    align-self: center;
    width: fit-content;
    padding: 10px 20px;
    color: #fff;
    border-radius: 50px;
    border: none;
    background-color: #ce1126;
    background-image: linear-gradient(to right,#ce1126,#006341);
    transition: .7s;
}
.submit:hover{
    cursor: pointer;
    color: #ce1126;
    background: transparent;    
}
.pass-needs{
    display: none;
    color: #d3d3d3;
    align-self: center;
}
.pass-needs ul{
    list-style-type: none ;
}
.pass-req{
  font-size: 50%;

}
.pass-reqX{
    color: red;
    font-style: italic;
}
.pass-req-check{
    color: green;
}
.form-sup{
    visibility: hidden;
    /* display: none; */
}

/* LOGIN */
.form-log{
    display: block;
    transform: scale(0);
    transition: 1s;
}
.back-to-home{
    color: #006341;
    font-size: 150%;
    border: none;
    transition: .4s;
    cursor: pointer;
}
.back-to-home:hover{
    color: #ce1126;
}
.err-mess{
   text-align: center;
    font-size: 75%;
    color: red;
    font-style: italic;
    animation: heartbeat;
    animation-duration: 2s;
    display: none;
}
.welcome{
    font-size: 150%;
    text-align: center;
    color: green;
    display: none;
    --animate-duration: 1s;
}
.log-user{
    width: 90%;
}
.log-pass{
    width: 90%;
}
.log-next-to{
    margin-bottom: 50px;
}
.create-acc{
    font-size: 75%;
    margin :2.5px auto;
}
.log-group{
    width: fit-content;
}
a{
    color: #006341;
    transition: .4s;
    cursor: pointer;
}
a:hover{
text-decoration: none;
color: #ce1126;
}

/* SLIDER TEST */
