*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}
html{
    font-size: 20px;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* background-color: black; */
}
body{
   background-color: black;
}
section{
    width: 100%;
    height: 120vh;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-position: center; */
}
.reveal{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.flex{
    display: flex;
    justify-content: space-around;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.btn{
    width: 200px;
    font-size: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right,#ce1126,#006341);
    transition: .7s;
    align-self: center;
}
.btn:hover{
    cursor: pointer;
    color: #ce1126;
    background: transparent;  
}
h1{
    width: fit-content;
}
.stick{
    position: sticky;
    background-color: #006341;
    color: #fff;
    top: 0;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 4
}






/* -------------------------------------------------------------------------FORMS----------------------------------------------------------------------------- */
/* PROFILE */
.profile-form{
    transform: scale(0);
}
.users-name{
    color: #ce1126;
    text-shadow: 3px 3px black;
    margin-bottom: 5px;
    align-self: center;
}
.users-email{
    text-align: center;
    color: #006341;
    text-shadow: 1px 1px black;
    /* margin-bottom: 20px; */
}
.users-points{
    color: #ce1126;
    text-shadow: 1px 1px black;
    margin-bottom: 20px;
    align-self: center;
}
.prof-next-to{
    height: 10%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.users-phone{
    color: #ce1126;
    text-shadow: 1px 1px black;
    margin-right: 10px;
}
.users-addy{
    color: #006341;
    text-shadow: 1px 1px black;
    text-align: center;
}

/* SIGNUP */
.title{
    align-self: center;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
    font-size: 100%;
}
.sup-mess{
    font-size: 75%;
    text-align: center;
    display: none;
}
.sup-good{
    color: green;
}
.sup-bad{
    color: red;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    height: fit-content;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    background-color: #fff;
    transition: 1s;
    z-index: 100;
}
.next-to{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.group{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form-input{
    border: none;
    width: 50%;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    font-size: 85%;

}
.form-input:not(.sup-name,.sup-submit){
    margin-right: 10px;
}
.form-input::placeholder{
    color: #d3d3d3;
}
.form-input:focus{
    outline: none;
}
.sup-confirm{
    height: fit-content;
}
.sup-name{
    width: 50%;
    margin: 20px auto;
    text-transform: capitalize;
}
.back-btn{
    color: #006341;
    font-size: 150%;
    border: none;
    transition: .4s;
    cursor: pointer;
}
.back-btn:hover{
    color: #ce1126;
}
.submit{
    align-self: center;
    width: fit-content;
    padding: 10px 20px;
    color: #fff;
    border-radius: 50px;
    border: none;
    background-color: #ce1126;
    background-image: linear-gradient(to right,#ce1126,#006341);
    transition: .7s;
}
.submit:hover{
    cursor: pointer;
    color: #ce1126;
    background: transparent;    
}
.pass-needs{
    display: none;
    color: #d3d3d3;
    align-self: center;
}
.pass-needs ul{
    list-style-type: none ;
}
.pass-req{
  font-size: 50%;

}
.pass-reqX{
    color: red;
    font-style: italic;
}
.pass-req-check{
    color: green;
}
.form-sup{
    visibility: hidden;
    transition: 1s;
    /* display: none; */
}

/* LOGIN */
.form-log{
    display: block;
    transform: scale(0);
    transition: 1s;
}
.back-to-home{
    color: #006341;
    font-size: 150%;
    border: none;
    transition: .4s;
    cursor: pointer;
}
.back-to-home:hover{
    color: #ce1126;
}
.err-mess{
   text-align: center;
    font-size: 75%;
    color: red;
    font-style: italic;
    animation: heartbeat;
    animation-duration: 2s;
    display: none;
}
.welcome{
    font-size: 150%;
    text-align: center;
    color: green;
    display: none;
    --animate-duration: 1s;
}
.log-user{
    width: 90%;
}
.log-pass{
    width: 90%;
}
.log-next-to{
    margin-bottom: 50px;
}
.create-acc{
    text-align: center;
    font-size: 75%;
    margin :2.5px auto;
}
.log-group{
    width: fit-content;
}
a{
    color: #006341;
    transition: .4s;
    cursor: pointer;
}
a:hover{
text-decoration: none;
color: #ce1126;
}







/* ------------------------------------------------------------------------------NAV/SIDEBAR-------------------------------------------------------------- */
.nav-bar{
    width: 100%;
    color: #fff;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: transparent;
    z-index: 4;
    border-bottom: 1px solid #d3d3d3;
    transition: .4s;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
}

.sticky{
    background-color: #fff;
    color: #ce1126;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: black 0 0 5px;
    z-index: 4;
}
.logo{
    background-image: url(receipt_images/bandidos_name_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 45px;
    width: 7%;
}
nav a{
    text-decoration: none;
}
nav ion-icon{
    display: none;
    /* transform: rotate(90deg); */
}

/* SIDE BAR*/
.side-bar{
    z-index: 4;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 150px;
    margin: auto;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}
.side-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.exit-sidebar{
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 25px;
    color: #006341;
    cursor: pointer;
}
.exit-sidebar:hover{
    color: #ce1126;
}



/*------------------------------------------------------------------------- SLICK SLIDER------------------------------------------------------------------------ */
.hero{
    position: relative;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7)), url(Manager-Menu-Page-Images/heroback.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider{
    width: 80%;
    display: flex;
}
.slick-slide{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    color: #fff;
    text-align: center;
}

.next{
    font-size: 36px;
    color: #ce1126;
    opacity: .5;
    border: 2px solid #ce1126;
    border-radius: 50%;
    margin-right: 10px;
    
}
.prev{
    font-size: 36px;
    color: #ce1126;
    opacity: .5;
    border: 2px solid #ce1126;
    border-radius: 50%;
    margin-left: 10px;

}
.next:hover{
    color: #006341;
    border: none;
}
.prev:hover{
    color: #006341;
    border: none;
}
.container{
    display: flex;
    height: 300px;
}
.card{
    width: 50%;
    height: 200px;
    margin: 0 2.5%;
    /* background-color: red; */
}
#title{
    /* margin-top: 1150px; */
    font-size: 500%;
    /* margin-left: -20px; */
    font-family: 'smokum', cursive;
    background:linear-gradient(to right,#006341,#ce1126);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-2{
    background-image: url(Manager-Menu-Page-Images/slideback-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.card-2 h5, .card-2 p{
    text-shadow: 2px 2px black;
}
.card-3{
    background-image: url(Manager-Menu-Page-Images/coin1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.card-3 p{
    font-size: 150%;
    margin: 0px 20px;
    text-shadow: 2px 2px black;
}
.card-4{
    background-image: url(Manager-Menu-Page-Images/firetaco.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card-4 p{
    font-size: 150%;
    margin: 0px 20px;
    text-shadow: 2px 2px black;
}

.slide-flex{
    margin: 20px auto;
    align-items: center;
}
.slide-head{
    color: #ce1126;
    font-size: 200%;
    text-shadow: 2px 2px black;
}
.slide-deal{
    font-size: 200%;
    text-shadow: 2px 2px black;
}
.slide-sub{
    font-size: 200%;
    color: #006341;
    text-shadow: 2px 2px black;
}
.slide-btn{
    margin-bottom: 20px;
}








/* ---------------------------------------------------------------------------PAGE--------------------------------------------------------------- */
/* ABOUT */

.about-section{
    opacity: 0;
    transition: 1s;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7)), url(Manager-Menu-Page-Images/about-us-back1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #006341;
}
.header{
    font-family: 'smokum', cursive;
    text-align: center;
    margin: 0 auto;
    font-size: 300%;
    color: #ce1126;
    text-shadow: 3px 3px black;
}

.about{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
    text-align: center;
    
}
.about-text{
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.text-header{
    width: 80%;
    font-family: 'smokum', cursive;
    font-size: 200%;
    text-align: center;
    padding: 10px;
    background-color: black;
    /* background-image: url(bandidos_images/menu_background.jpg); */
    box-shadow: 0 0 5px black;
    text-shadow: 2px 2px black;
    
}
.about-text p{
    font-size: 70%;
    height: 50%;
    color: #000;
    text-align: center;
    background-color: black;
    box-shadow: 0 0 5px black;
    padding: 20px;
    display: flex;
    align-items: center;
    /* background-image: url(bandidos_images/menu_background.jpg); */
}
.about img{
    width: 40%;
    height: 100%;
    box-shadow: 0 0 10px black;
}
/* FEATURED DISH */
.featured-section{
    opacity: 0;
    transition: 1s;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7)), url(Manager-Menu-Page-Images/featured-dish-back.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #006341;
}
/* LOCATIONS */
.locations-section{
    opacity: 0;
    transition: 2s;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7)), url(Manager-Menu-Page-Images/our-locations-back.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #006341;
}
.location-about{
    flex-direction: row-reverse;
}
/* GALLERY */
.gallery{
    background-color: #fff;
}
.pic-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    
}
.pic{
    width: 30%;
    margin: 2.5% 1.5%;
    background-color: black;
    height: 30%;
    position: relative;
    /* box-shadow:  0 0 10px black; */
    transition: .5s;
    cursor: default;
}
.gallery-img{
    width: 100%;
    height: 100%;
    transition: 1s;
    background-color: black;
}
.img-desc{
    opacity: 0;
    /* visibility: hidden; */
    text-align: center;
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: .5s;
}
.img-title{
    color: #ce1126;
    text-shadow: 1px 1px black;
}

.pic:hover{
    box-shadow:  0 0 10px black;
}
.pic:hover img{
    opacity: .6;
}
.pic:hover .img-desc{
    opacity: 1;
}















/*---------------------------------------------------------- CONTACT US-----------------------------------------------*/
.contact-us{
    opacity: 0;
    transition: 1s;
    background-color: #fff;
}
.contact-form-container{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.contact-form{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 10px black;
    flex-direction: column;
    background-color: #fff;
}
.contact-form-title{
    text-align: center;
    text-shadow: 0px 1px #ce1126;
    color:black ;
}
.contact-err{
    display: none;
    font-size: 75%;
    text-align: center;
    font-style: italic;
    color: red;
}
.contact-good{
    display: none;
    font-size: 75%;
    text-align: center;
    font-style: italic;
    color: green;
}
.contact-form-div{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}
.contact-form-input{
    border: none;
    /* width: 50%; */
    border-bottom: 1px solid #d3d3d3;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    /* font-size: 100%; */
}
.messageBox{
    border: 1px solid #d3d3d3;
}
.contact-submit{
    width: 50%;
    font-size: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right,#ce1126,#006341);
    transition: .7s;
    align-self: center;
    margin-top: 10px;
}
.contact-submit:hover{
    cursor: pointer;
    color: #ce1126;
    background: transparent;
}
.rate-us{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.our-info{
    border: 1px solid black;
    height: 60%;
    padding: 20px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
}
.info-title{
    text-shadow: 1px 1px #ce1126;
    color:black ;
    font-size: 100%;
}
.info-div{
    display: flex;
    flex-direction: column;
}
.info{
    font-size: 100%;
}
.rating{
    text-align: center;
    height: 25%;
    background-color: #fff;
    border: 1px solid black;
    padding-top: 10px;
    box-shadow: 0 0 10px black;
    position: relative;
}
.thank-review{
    text-shadow: 0px 1px #ce1126
}
.stars{
   
    height: fit-content;
    width: fit-content;
    margin: auto;
}
.star{
    font-size: 32px;
    margin-right: 10px;
    color: #ce1126;
}
.star:hover{
    cursor: pointer;
}



/* ---------------------------------------------------------FOOTER----------------------------------------------------------- */
#bottom{
    height: 100vh;
    padding-top: 20px;
}
footer{
    box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.5);
}
.footer-sticky{
    background-color: #006341;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* box-shadow: black 0 0 5px; */
    z-index: 4;
}
.log-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 50px;
    transition: 1s;
}

.go-to-login{
    height: fit-content;
    text-align: center;
    color: #ce1126;
    padding: 0 10px;
    /* border-right: 1px solid #fff;
    border-left: 1px solid #fff; */
    transition: .5s;
}
.go-to-profile{
    height: fit-content;
    text-align: center;
    color: #ce1126;
    padding: 0 10px;
    /* border-right: 1px solid #fff;
    border-left: 1px solid #fff; */
    transition: .5s;
}
.go-to-login:hover,.go-to-profile:hover{
    color: #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.footer-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.footer-info{
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-info p{
    font-size: 65%;
    /* margin-right: 20px; */
}
.footer-info ion-icon{
    margin-right: 2px;
}
.footer-socials{
    width: 20%;
    text-align: center;
    display: flex;
    
}
.footer-socials ion-icon{
    color: #fff;
    margin-right: 5px;
}
#fb:hover{
    color: #1877F2;
    transition: color .4s;
}
#twitter:hover{
    color: #1DA1F2;
    transition: color .4s;
}
#google:hover{
    color: #DB4437;
    transition: color .4s;
}
#ig:hover{
    color: #C13584;
    transition: color .4s;
}

/* ----------------------------------------------------------------------SMALLER SCREENS------------------------------------------------------- */
@media (max-width:1000px) {
    nav ul.nav-links{
        display: none;
    }
    
    nav ion-icon{
        display: block;
    }
    nav.sticky{
        background-color: #fff;
        color: #ce1126;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: black 0 0 5px;
        z-index: 4;
    }
}

/* @media (max-width:768px) {
    
} */
@media (max-width:800px) {
    form.contact-form{
        width: 50%;
    }
    div.contact-form-div{
        height: 20%;
    }
    div.info{
        font-size: 80%;
    }
    div.about-text p{
        font-size: 60%;
        
    }
    a.go-to-profile{
        font-size: 80%;
    }
}


@media (max-width:650px) {
    h1#title{
        font-size: 375%;
    }
    p.slide-deal{
        font-size: 100%;
    }
    p.slide-sub{
        font-size: 100%;
    }
    button.btn{
        width: auto;
    }
    div.about img{
        height: 50%;
    }
    div.about button{
        width: auto;
        font-size: 80%;
    }
    h1.text-header{
        font-size: 120%;
    }
    h1.header{
        font-size: 200%;
    }
    div.about-text p{
        font-size: 35%;
    }
    div.contact-form-container{
        flex-wrap: wrap-reverse;
        height: 80%;
    }
    form.contact-form{
        width: 90%;
        height: 50%;
        font-size: 80%;
    }
    div.our-info{
        width: 50%;
        height: 80%;
        padding: 10px;
        text-align: center;
    }
    h2.info-title{
        font-size: 80%;
    }
    .info{
        font-size: 50%;
    }
    input.contact-submit{
        font-size: 50%;
        width: 30%;
    }
    a.go-to-login{
        font-size: 75%;
        padding: 0 ;
    }
    a.go-to-profile{
        font-size: 60%;
        padding: 0;
    }
    div.footer-info p{
        font-size: 40%;
        margin-right: 5px;
        width: fit-content;
    }
    div.footer-socials ion-icon{
        font-size: 15px;
    }
     p.img-desc{
        font-size: 50%;
    }
    div.rate-us{
        width: 90%;
        height: 60%;
        align-items: center;
        flex-direction: row;
    }
    div.rating{
        font-size: 75%;
        height: 50%;
        width: 45%;
    }
    div.stars{
        margin-top: 15px;
    }
    .star{
        font-size: 100%;
    }
}

@media (max-width:450px) {
    section{
        height: 100vh;
    }
    h1#title{
        font-size: 260%;
    }
    div.container{
        height: 100px;
    }
   div .card-2,div.card-3,div.card-4{
        font-size: 50%;
    }
    p.title-sub{
        font-size:70% ;
    }
    footer{
        font-size: 90%;
    }
    div.about-text p{
        font-size: 30%;
    }
    div.pic-container{
        align-content: center;
    }
    h5.thank-review{
        font-size: 65%;
    }
    p.sup-mess{
        font-size: 40%;
    }
    li.pass-req{
        font-size: 45%;
    }
}